extends ./layout.jade

block headStyle
    style.
        #content{
            display: flex;
            flex: 1;
            justify-content: center;
            height: 100%;
        }
        #content > ul {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }
        #left, #right{
            flex: 0.1;
            font-size: 5em;
            display: flex;
            text-decoration: none;
        }
        #left{justify-content: start;}
        #right{justify-content:end;}
block left
    if prevName == ''
        span#left(class="fa fa-hand-paper-o" style="color:red")
    else
        a#left(href= prevName): span(class="fa fa-hand-o-left")
block right
    if nextName == ""
        span#right(class="fa fa-hand-paper-o" style="color:red")
    else
        a#right(href= nextName): span(class="fa fa-hand-o-right")

block content
    #content
       ul
           each post in posts
                - title = post.data.title? post.data.title: post.name;
                li: a(href=post.dir.replace("/public","")+"/"+post.name+".html")= title
