- pageTitle= pageTitle || "Zhangjg's Diary"
doctype html
html(lang="zh")
    head
        meta(charset='utf-8')
        title= pageTitle

        link(rel="icon" type="image/ico" href="/ref/favicon.ico")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        style.
            body {
                margin: 0;
            }
            header{
                display: flex;
                flex-direction: row;
                font-size: 2em;
                justify-content: space-between;
                background: black;
                color: white;
            }
            #contentBody{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

        block headStyle

        block headScript


    body
        header()
            a#home(href= home )
                span(class="fa fa-home")
            span= pageTitle
            span

        #contentBody
            block left
            block content
            block right
