extends ./layout.jade

block headStyle
    style.
        #content {
            flex: 1;
            flex-wrap: wrap;
        }
        #content p{
            text-indent: 2em;
        }
        table {
            margin: 0 auto;
            border-top: double;
            border-bottom: double;
        }
        pre {
            display: flex;
            justify-content: center;
        }
        pre > code {
            border-radius: 1em;
        }
    link(rel="stylesheet" href="/ref/highlight.min.css")

block headScript
    script(src="/ref/highlight.min.js")
    script hljs.initHighlightingOnLoad();
    script(type="text/x-mathjax-config").
        MathJax.Hub.Config({
        "HTML-CSS": {
            preferredFont: "TeX",
            availableFonts: ["STIX","TeX"],
            linebreaks: { automatic:true },
            EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
        },
        tex2jax: {
            inlineMath: [ ["$", "$"], ["\\(","\\)"] ],
            displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
            processEscapes: true,
            ignoreClass: "tex2jax_ignore|dno"
        },
        TeX: {
            noUndefined: {
                attributes: {
                    mathcolor: "red",
                    mathbackground: "#FFEEEE",
                    mathsize: "90%"
                }
            },
            Macros: { href: "{}" }
        },
        messageStyle: "none"
        });
    script(type="text/javascript" async src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML-full")

block content
    #content!=  content
